In [47]:
# Amplitude Total

In [48]:
# É a diferença entre o maior e o menor valor observado;

In [49]:
# Porém... 
# Não leva em consideração valores intermediários;
# Não temos informações de como os dados estão distribuídos.

In [50]:
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import numpy as np
import pandas as pd
from bokeh.sampledata.iris import flowers as dados

In [51]:
# Verificando como os dados estão dispostos:
dados.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [52]:
# Verificando o tamanho da tabela:
dados.shape

(150, 5)

In [53]:
# Calculo da Amplitude Total

In [54]:
# DataFrame é uma estrutura que permite que façamos calculos rápidos (Máximo, Minimo, Média, Desvio Padrão...).
type(dados)

pandas.core.frame.DataFrame

In [55]:
dados.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [56]:
dados.min()

sepal_length       4.3
sepal_width        2.0
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object

In [57]:
dados.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [58]:
# Amplitude Total:
# ':' Significa todas as linhas;
# 0:4 Da coluna 0 até a coluna 3.
dados.iloc[:, 0:4].max() - dados.iloc[:, 0:4].min()

sepal_length    3.6
sepal_width     2.4
petal_length    5.9
petal_width     2.4
dtype: float64

In [59]:
# Outra maneira de calcular:
np.max(dados.iloc[:, 0:4])

sepal_length    7.9
sepal_width     4.4
petal_length    6.9
petal_width     2.5
dtype: float64

In [60]:
np.min(dados.iloc[:, 0:4])

sepal_length    4.3
sepal_width     2.0
petal_length    1.0
petal_width     0.1
dtype: float64

In [61]:
np.max(dados.iloc[:, 0:4]) - np.min(dados.iloc[:, 0:4])

sepal_length    3.6
sepal_width     2.4
petal_length    5.9
petal_width     2.4
dtype: float64